##### Docker Images #####
ACAPY_IMAGE=bcgovimages/aries-cloudagent:py36-1.16-1_0.7.4
POSTGRES_IMAGE=postgres:13.1-alpine

##### Controller #####
CONTROLLER_WEBHOOK_API_KEY=secret-key

CONTROLLER_DB_DATABASE_NAME=controller
CONTROLLER_DB_USER=controller
CONTROLLER_DB_PASSWORD=controller

##### Aca-Py #####
ACAPY_DB_DATABASE_NAME=acapy
ACAPY_DB_USER=acapy
ACAPY_DB_PASSWORD=acapy

# "lissi-test" or "idunion-test"
ACAPY_LEDGER_NAME=lissi-test
ACAPY_LABEL=SSI-Verifier
ACAPY_WALLET_KEY=XXXXXXXXXXXX
ACAPY_MAX_DATABASE_CONNECTIONS=10
