<!DOCTYPE html>
<html lang=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<body>
<main class="my-5 mx-2" layout:fragment="content">
    <turbo-frame id="content">
        <div class="container">
            <h2>Enter an AnonCreds Proof Request</h2>

            <div class="row my-2 px-3 justify-content-end">
                <button class="btn btn-primary"
                        onclick="beautifyJson()">
                    Beautify JSON
                </button>
            </div>

            <div class="row my-2 px-3">
                <div class="alert alert-danger w-100 d-none" id="jsonErrors"></div>
            </div>

            <form method="POST" action="/app/editor/save-proof-request-and-show-connectionless-proof-request"
                  id="proofRequestForm">
            </form>

            <div class="row my-2 px-3">
            <textarea class="form-control" id="jsonEditor" rows=16 form="proofRequestForm" name="proofRequestJson">
                {
                    "name": "Self-Attested Proof Request",
                    "version": "1.0",
                    "requested_attributes": {
                      "self-attested-1": {
                        "name": "Name",
                        "restrictions": []
                      },
                      "self-attested-2": {
                        "name": "Age",
                        "restrictions": []
                      }
                    },
                    "requested_predicates": {}
                }
            </textarea>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <input class="btn btn-primary btn-block mx-5 my-2"
                           type="submit" form="proofRequestForm" value="Generate Proof Request"
                           data-turbo-action="advance">
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-secondary btn-block mx-5 my-2" onclick=clearJsonEditor()>Clear Editor
                    </button>
                </div>
            </div>
        </div>

        <script>
            function clearJsonEditor() {
                document.getElementById('jsonEditor').value = "{}";
            }

            function beautifyJson() {
                const jsonErrorsAlert = document.getElementById('jsonErrors')

                const dirtyJson = document.getElementById('jsonEditor').value;
                let parsedJson = "";

                try {
                    parsedJson = JSON.parse(dirtyJson)
                } catch (error) {
                    jsonErrorsAlert.textContent = error.message;
                    jsonErrorsAlert.classList.remove("d-none")
                    return
                }

                jsonErrorsAlert.classList.add("d-none")

                const cleanJson = JSON.stringify(parsedJson, undefined, 4);
                document.getElementById('jsonEditor').value = cleanJson;
            }

            beautifyJson()
        </script>
    </turbo-frame>
</main>
</body>
</html>

