<!DOCTYPE html>
<html lang=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<body>
<main class="my-5 mx-2" layout:fragment="content">
    <turbo-frame id="content">
        <div class="container">
            <h2>Create a Proof Template</h2>

            <div class="row my-2 px-3 justify-content-end">
                <button class="btn btn-primary"
                        onclick="beautifyJson()"
                        title="Reformat JSON">
                    Beautify JSON
                </button>
                <button class="btn btn-primary ml-2"
                        data-bs-toggle="modal" data-bs-target="#infoModal"
                        title="Infos about the Proof Template Syntax">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
            </div>

            <div class="row my-2 px-3">
                <div class="alert alert-danger w-100 d-none" id="jsonErrors"></div>
            </div>

            <form method="POST" th:action="${saveAction}"
                  id="proofRequestForm">
            </form>

            <div class="row my-2 px-3">
            <textarea class="form-control" id="jsonEditor" rows=16 form="proofRequestForm" name="proofRequestJson"
                      th:text="${proofRequestJson}"
            >
                {}
            </textarea>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <input class="btn btn-primary btn-block mx-5 my-2"
                           type="submit" form="proofRequestForm" value="Generate Proof Request"
                           data-turbo-action="advance">
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-secondary btn-block mx-5 my-2" href="/app/editor"
                       data-turbo-action="advance">
                        New Proof Template
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Proof Templates</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Data Privacy</h4>
                        <p>
                            To be able to share proof templates with other users all proof templates are
                            publicly available and should not include any secrets.
                        </p>

                        <hr/>

                        <h4>Syntax</h4>
                        <p>
                            Proof templates are defined following the AnonCreds Proof Request syntax. Only the top-level
                            attributes <code>requested_attributes</code>, <code>requested_predicates</code>,
                            and <code>non_revoked</code> can be customized. Other attributes will be ignored.
                        </p>
                        <strong>$now Placeholder</strong>
                        <p>
                            To request a non-revocation check for the time that the proof request is sent out the
                            placeholder <code>$now</code> can be used in the proof template. Whenever a new proof
                            request is created based on the proof template all occurrences of <code>$now</code> will
                            be replaced with the current Unix epoch time in seconds.
                        </p>
                        <strong>Nonce</strong>
                        <p>
                            A random <code>nonce</code> will be automatically generated with every new proof
                            request.
                        </p>

                        <hr/>

                        <h4>Samples</h4>
                        <strong>Request Self-Attested Attributes</strong>
                        <pre><code>{
  <mark>"requested_attributes"</mark>: {
    "attribute_0": {
      "name": "email",
      <mark>"restrictions": []</mark>
    }
  }
}</code></pre>
                        <strong>Request Credential Attributes</strong>
                        <pre><code>{
  <mark>"requested_attributes"</mark>: {
    "attribute_0": {
      "names": [
        "email",
        "name"
      ],
      <mark>"restrictions": [</mark>
        <mark>{</mark>
          <mark>"cred_def_id": "&lt;CREDENTIAL_DEF_ID&gt;"</mark>
        <mark>}</mark>
      <mark>]</mark>
    }
  }
}</code></pre>
                        <strong>Request Predicates</strong>
                        <pre><code>{
  <mark>"requested_predicates"</mark>: {
    "predicate_0": {
      "name": "Age",
      <mark>"p_type": ">=",</mark>
      <mark>"p_value": 18,</mark>
      "restrictions": [
        {
          "cred_def_id": "&lt;CREDENTIAL_DEF_ID&gt;"
        }
      ]
    }
  }
}</code></pre>
                        <strong>Check for Non-Revocation</strong>
                        <pre><code>{
  "requested_attributes": {
    "attribute_0": {
      "names": [
        "email",
        "name"
      ],
      "restrictions": [
        {
          "cred_def_id": "&lt;CREDENTIAL_DEF_ID&gt;"
        }
      ]
    }
  },
  <mark>"non_revoked": {</mark>
    <mark>"to": $now</mark>
  <mark>}</mark>
}</code></pre>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function beautifyJson() {
                const jsonErrorsAlert = document.getElementById('jsonErrors')

                const dirtyJson = document.getElementById('jsonEditor').value;
                let parsedJson = "";

                try {
                    parsedJson = JSON.parse(dirtyJson)
                } catch (error) {
                    jsonErrorsAlert.textContent = error.message;
                    jsonErrorsAlert.classList.remove("d-none")
                    return
                }

                jsonErrorsAlert.classList.add("d-none")

                const cleanJson = JSON.stringify(parsedJson, undefined, 4);
                document.getElementById('jsonEditor').value = cleanJson;
            }

            beautifyJson()
        </script>
    </turbo-frame>
</main>
</body>
</html>

