<!DOCTYPE html>
<html lang="">
<head>
    <title>SSI Verifier</title>
    <script src="js/TurboStreamConnection.js" type="module" async defer></script>
</head>
<body>
<header>
    <h1>Connectionless Proof Request</h1>
</header>
<section>
    <h2>List of all Proof Templates</h2>
    <p th:text="${test}"></p>
</section>

<section>
    <h2>Connectionless Proof Request</h2>
    <p th:text="${connectionlessProofRequest.exchangeId}"></p>
    <p th:text="${connectionlessProofRequest.url}"></p>
    <img th:src="${connectionlessProofRequest.qrCodeDataUrlEncoded}"></img>
</section>
<section>
    <h2>Updates</h2>
    <div id="proof-exchange-update"></div>
    <turbo-stream-connection src="/proof" debug="false"></turbo-stream-connection>
</section>
</body>
</html>

