<!DOCTYPE html>
<html lang="">
<head>
    <title>Sample View</title>
</head>
<body>
<header>
    <h1>New dialect example</h1>
    <h1 th:text="${test}"></h1>
</header>
<section>
    <p>Connectionless Proof Request</p>
    <p th:text="${connectionlessProofRequest.exchangeId}"></p>
    <p th:text="${connectionlessProofRequest.url}"></p>
    <img th:src="${connectionlessProofRequest.qrCodeDataUrlEncoded}"></img>
</section>
<footer>
    <p>My custom footer</p>
    <p>Your custom footer here</p>
</footer>
</body>
</html>

