<!DOCTYPE html>
<html lang=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<body>
<main class="my-5 mx-2" layout:fragment="content">
    <turbo-frame id="content">
        <turbo-stream-connection th:src="'/proof-exchange/' + ${connectionlessProofRequest.exchangeId}"
                                 debug="false"></turbo-stream-connection>

        <turbo-frame id="result">
            <div class="container">
                <h2 th:text="${proofRequestTemplateName}">Connectionless Proof Request</h2>
                <div id="content">
                    <img th:src="${connectionlessProofRequest.qrCodeDataUrlEncoded}"
                         style="width: 100%; max-width: 400px; margin: 10px auto; display: block"></img>
                </div>
            </div>
        </turbo-frame>

        <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-primary btn-block mx-5 my-2"
                   th:href="'/app/proof-exchange/' + ${proofTemplateId}">
                    Generate New Proof Request
                </a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-secondary btn-block mx-5 my-2"
                   th:href="'/app/editor/' + ${proofTemplateId}"
                   data-turbo-action="advance">Close</a>
            </div>
        </div>
    </turbo-frame>
</main>
</body>
</html>

