<!DOCTYPE html>
<html lang=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<body>
<main class="my-5 mx-2" layout:fragment="content">
    <turbo-stream-connection th:src="'/proof/' + ${connectionlessProofRequest.exchangeId}"
                             debug="false"></turbo-stream-connection>

    <div class="container">
        <h2 th:text="${proofRequestTemplateName}">Connectionless Proof Request</h2>
        <div id="content">
            <img th:src="${connectionlessProofRequest.qrCodeDataUrlEncoded}"
                 style="width: 100%; max-width: 400px; margin: 10px auto; display: block"></img>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-primary btn-block mx-5 my-2" href="javascript:window.location.href=window.location.href">
                New QR Code
            </a>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-secondary btn-block mx-5 my-2" href="/">Close</a>
        </div>
    </div>
</main>
</body>
</html>

